<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mpks.ambulanmudiy" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ambulanmu DIY</name>
    <description>Sistem Manajemen Pelayanan Ambulans - MPKS PWM DIY</description>
    <author email="dev@mpks.or.id">MPKS PWM DIY</author>
    <content src="index.html" />

    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />

    <preference name="DisallowOverscroll" value="true" />
    <preference name="MixedContentMode" value="2" />
    <preference name="android-minSdkVersion" value="22" />
    <preference name="android-targetSdkVersion" value="33" />
    <preference name="StatusBarBackgroundColor" value="#1B5E20" />
    <preference name="LoadUrlTimeoutValue" value="30000" />

    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
</widget>
